@model IEnumerable<StudentApp.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Degree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Field_Of_Specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FathersName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester.Session)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Field_Of_Specialization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FathersName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterationNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Semester.Session)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RollNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.RollNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RollNo })
        </td>
    </tr>
}

</table>
